* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NeueHaasDisplay;

}


@font-face {
    font-family: NeueHaasDisplay;
    src: url(../fonts/NeueHaasDisplayThin.ttf);
}

.main {
    width: 100%;
}

body {
    /* overflow: hidden; */
}

/*------------navbar section start here -----------*/
nav {
    width: 100%;
    height: 13vh;
    position: fixed;
    color: #fff;
    padding: 2vw 8vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #111;
    z-index: 11;

}

nav h4 a {
    text-decoration: none;
    font-size: 1vw;
    color: #fff;

}

.nav-part-2 {
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    position: relative;
    z-index: 10;
}

.nav-elem h5 {
    text-transform: capitalize;
    margin-top: 7px;
}

.nav-elem span {
    display: inline-block;
    transform: translateY(25px);
    /* background-color: red; */
    color: #fff;

}

.logo {
    text-transform: uppercase;
    color: #fff;

}

.logo h1 {
    color: #fff;
    font-weight: 900;
}

.talk-btn {
    padding: 10px 10px;
    border-radius: 19px;
    background: #0DA34E;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    color: #fff;

}

.talk-btn svg {
    width: 20px;
}



.nav-elem h5 {
    font-size: 1vw;
    margin-top: 15px;
    overflow: hidden;
    display: none;
    color: #fff;

}

.nav-bottom {
    border-bottom: 1px solid #dadada;
    width: 86%;
    color: #fff;

    bottom: 0;
    top: 100%;
    position: absolute;
    height: 0vh;
    transition: all 0.4s;
    background-color: #111;
    z-index: 8;
}



.nav-btm-part h5 {
    margin-top: 10px;
    color: #fff;

}

.nav-btm-part h5 span {
    font-size: 0.85vw;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
    color: #fff;


}


/*------------navbar section end here -----------*/

/*------------hero section start here -----------*/

.hero-section {
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #fff;

}

.hero-section h1 {
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 900;
    line-height: 8vw;
    color: #fff;

}

.hero-section h1 span svg {
    width: 6vw;
    height: 6vw;
    background: #0DA34E;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
    color: #fff;

}

.hero-section h1 span svg:hover {
    transform: rotate(-82deg);
    width: 5vw;
    height: 5vw;
    transition: all 0.4s;

}

.hero-section p {
    font-size: 2vw;
    margin-top: 30px;
}

.hero-bottm-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.btn {
    border: 1px solid white;
    padding: 10px;
    border-radius: 19px;
}

.btn:nth-child(3) {
    border: none;
}

.moving-div {
    position: absolute;
    bottom: 3px;
    /* z-index: 3; */
    white-space: nowrap;
    /* Corrected property value */
    width: 40%;
    /* background-color: red; */
    padding: 10px;
    overflow: hidden;
}


.moving-div .move {
    display: inline-block;
    animation: slide 8s linear infinite;


}

.moving-div .move img {
    height: 1vw;
    margin: 0 1vw;
    /* display: inline-block; */
}

.blur-left {
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #111, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.blur-right {
    width: 20%;
    height: 100%;
    /* background-color: red; */
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*------------hero section end here -----------*/

/*------------container news section start here -----------*/

.container-news-section {
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(16, 16, 16);
    position: relative;
    display: flex;
    padding: 2vw 10vw;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
    color: #fff;
}

.left-part {
    width: 40%;
    height: 100vh;
    /* background-color: #0DA34E; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.left-part h4 {
    padding: 14px;
}

.left-part p {
    font-size: 1.5vw;
    padding: 23px;
    width: 75%;
}

.right-part {
    width: 50%;
    height: 100%;
    /* background-color: #6cf4a7; */

    /* background-color: #cbd6345; */
}

.right-elem {
    width: 100%;
    /* height: 20%; */
    /* padding: 20px; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    text-transform: capitalize;
    position: relative;
    /* background-color: red; */
    /* padding: 20px 8px; */
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    z-index: 8;
    width: 51%;
    font-size: 1.5rem;
}

.right-elem img {
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    scale: 0;
    transition: all 0.5s;
}

.right-elem svg {
    width: 1vw;
}

.sem-elem p {
    color: #565554;
}

/*------------container news  section end here -----------*/

/*------------reel section start here -----------*/

.reel-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/cover-img.webp');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.play-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reel-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}



.play-icon i {
    color: #000;

}

.reel-center h4 {
    background-color: rgb(255, 255, 255);
    padding: 9px;
    border-radius: 12px;
    color: #111;
    transform: translateY(22%);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
    /* Combine transition properties */
}

.reel-center:hover h4 {
    transform: translateY(0%);
    opacity: 1;
}

.reel-center video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0.2);
    border-radius: 30px;
    opacity: 0;
    z-index: 9999;
}

/*------------reel section end here -----------*/

/*------------page4 start here -----------*/

.page4 {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page4 .right-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.page4 .left-part,
.page4 .right-part {
    margin-top: 5rem;
    padding: 13px;
}

.page4 .left-part h3 {
    font-size: 4vw;
    font-weight: 900;
}

.page4 .right-part h4 {
    letter-spacing: 4px;
}

.right-val p {
    margin-bottom: 20px;
    text-transform: uppercase;

}

.right-val:nth-child(2) {
    margin-top: 30px;
}

/*------------page4 end here -----------*/

/*------------pricing section start here -----------*/

.pricing-section {
    width: 100%;
    /* height: 100vh; */
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.pricing-div {
    width: 300px;
    height: 300px;
    background-color: #f5f5f5;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 7px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-direction: column;

}

.pricing-div h3 {
    font-size: 2rem;
}

.pricing-div p {
    font-weight: 800;
    margin: 10px 0;
}

.gray-text {
    color: #968e8e;
}

/*------------pricing section  end here -----------*/

/*------------demo section  start here -----------*/

.our-demo-section {
    width: 100%;
    height: 40vh;
    position: relative;
    padding: 0 10%;
}

.our-demo-section h3 {
    position: absolute;
    right: 55px;
    top: 10px;
    width: 50%;
    font-size: 2vw;
}

/*------------demo section  end here -----------*/

/*------------ section  start here -----------*/
.section {
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
}

#sec-section {
    margin-top: 90px;
}


.sec-left-part {
    width: 400px;
    height: 200px;
    padding: 10px;
}

.sec-right-part {
    width: 600px;
    height: 400px;
    position: relative;
}

.sec-right-part img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.sec-tittle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    padding: 10px;
    border-top: 1px solid gray;
}

.sec-tittle svg {
    width: 10px;
}

.sec-left-part p {
    margin-top: 40px;
}

.cursor-div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(110, 110, 241);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    cursor: pointer;
    opacity: 0;
    scale: 0;
    transition: all 0.5s;
    /* transform: translate(-50%,-50%); */
}

.sec-right-part video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/*------------ section  end here -----------*/

.page7 {
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    padding-left: 32%;



}

.page7-right-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.box,
.box2 {
    width: 350px;
    position: relative;
    min-height: 400px;
    /* background-color: yellow; */
    overflow: hidden;
}

.box p,
.box2 p {
    margin-bottom: 25px;
}

.box h3,
.box2 h3 {
    padding: 14px 0;
}

.box img,
.box2 img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.box .video-player-div {

    background: red;
    width: 100%;
    height: 357px;
    position: absolute;
    transition: all 0.4s;
}

.box:hover .video-player-div {
    opacity: 1;
    bottom: -11%;
    transition: all 0.4s;
}

/*  */


.box2 video {
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    opacity: 0;
}

.box2:hover video {
    transition: all 0.5s;
    opacity: 1;
    top: -1px;
}

.page8 {
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(19, 19, 19);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw;
}

.page8 .btn {
    /* position: absolute; */
    background-color: #1fa964;
    padding: 1vw 2.5vw;
    font-size: 2vw;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
}

.page8-right {
    width: 70%;
    color: #fff;
}

.page8-right p {
    font-size: 2vw;
}

.page8-right p span {
    display: inline-block;
    width: 12vw;
    background-color: red;
}

.page8-content {
    text-transform: capitalize;
    margin-top: 20px;
}

.btn-grp {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
    flex-wrap: wrap;
}

.btn-grp button {
    padding: 1vw 2vw;
    border-radius: 29px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.page8-content h1 {
    border-top: 1px solid white;
    padding: 10px 0;
    font-size: 2.5vw
}

.page8-content .flex h2 {
    width: 50%;
    font-size: 2.5vw;
    z-index: 4;
}

.page8-content .flex {
    padding: 0 26px;
    height: 150px;
    width: 100%;
    border-top: 1px solid white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.descripction-box {
    margin-top: 10%;

}

.page8-content .flex .overly {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 47, 47);
    opacity: 0.8;
    transition: all 0.7s;
    top: -156%;
}

.page8-content .flex:hover .overly {
    transition: all 0.7s;
    top: 0%;
}

.page8-content .flex p {
    font-size: 1vw;
    z-index: 9;
}

/* responsive css */

@media (max-width:750px) {
    .moving-div .move img {
        height: 2vw;
    }


    .section,
    .page7-right-part,
    .container-news-section,
    .page4 {
        flex-direction: column;
    }

    .page4 .left-part {
        height: 150px;
    }

    .left-part {
        width: 100%;
        height: 200px;
    }

    .page7 {
        padding-left: 0;
    }

    .page8 {
        margin-top: 15px;
    }
}

@media (max-width:700px) {
    .page4 .right-part h4 {
        width: 400px;
    }

}

@media (max-width:550px) {

    .page8,
    .page8-content .flex {
        flex-direction: column;
        gap: 4px;
        /* height: 250px; */
    }
}

@media (max-width:500px) {
    .sec-right-part {
        width: 330px;
        height: 296px;
    }

}

@media (max-width:550px) {
    .page4 .right-part h4 {
        width: 250px;

    }

    .right-elem .flex {
        flex-direction: column;
    }

    .right-elem .flex h2 {
        width: 300px;
    }

}

@media (max-width:400px) {
    .sec-left-part {
        width: 250px;
    }

    .sec-left-part p {
        margin-top: 20px;
    }

}